---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  parent: Primary
  order: 4
---

<h2> I'm Looking forward to hearing from you!</h2>

<p>Have a potential project in mind or just want to say hello? I'll try to get back to you as quick as possible!</p>

<form class="contact-form" name="contact" netlify action="/thanks" netlify-honeypot="gotcha" method="POST" data-netlify="true">
  <input type="text" name="gotcha" style="display:none" />
  <label for="contact-name">Name</label>
  <input name="name" id="contact-name" type="text" placeholder="E.g. Sonja" required/>
  <label for="contact-email">Email address</label>
  <input name="_replyto" id="contact-email" type="email" placeholder="E.g. sonja@email.com" required/>
  <label for="contact-message">Message</label>
  <textarea name="message" id="contact-message" placeholder="E.g Hi, I'd like to chat to you about…" required ></textarea>
  <button class="newsletter__submit" type="submit">Send</button>
<form>
