---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  parent: Primary
  order: 2
---

<h2>Archive</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
