---
layout: layouts/home.njk
heroTitle: "Developer focused on building delightful products"
heroDescription: "Hi 👋 I’m Tiaan. I'm an software developer who makes accessible, performant and secure apps & websites."
eleventyNavigation:
  key: Home
  parent: Primary
  order: 1
---

<h2>Latest 5 Posts</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
