<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-duotone-sea.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="header">
      <h1 class=""><a class="logo-link" href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      <nav class="nav"  aria-label="primary">
        <ul class="nav__list">
        {% set navPrimary = collections.all | eleventyNavigation("Primary") %}
        {%- for entry in navPrimary %}
          <li class="nav__list-item"><a class="nav__list-item-link"  href="{{ entry.url | url }}"  aria-current="{% if entry.url == page.url %}page{% endif %}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

    {% if heroTitle %}
      <section class="hero" aria-labelledby="hero-title">
        <h2 class="hero__title" id="hero-title">{{heroTitle}}</h2>
        {% if heroDescription %}
        <p class="hero__description">{{heroDescription}}</p>
        {% endif %}
      </section>
    {% endif %}

    <main id="content" class="content">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <div class="footer__inner">
        <a class="logo-link" href="{{ '/' | url }}">{{ metadata.title }}</a>

        <div class="footer__links">
          <nav aria-label="secondary" class="footer__nav">
            <ul class="footer__nav-list">
              {% set navSecondary = collections.all | eleventyNavigation("Secondary") %}
              {%- for entry in navSecondary %}
                <li class="footer__nav-item"><a class="footer__nav-link"  href="{{ entry.url | url }}" aria-current="{% if entry.url == page.url %}page{% endif %}">{{ entry.title }}</a></li>
              {%- endfor %}
            </ul>
          </nav>

          <nav aria-label="external" class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" target="blank" rel="noopener noreferrer" href="https://github.com/tiaanduplessis">GitHub</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link"  target="blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tiaanduplessis/">LinkedIn</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link"  target="blank" rel="noopener noreferrer" href="mailto:tiaanduplessis@hotmail.com">Email</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link"  target="blank" rel="noopener noreferrer" href="https://github.com/tiaanduplessis/reading">Reading</a></li>
            </ul>
          </nav>
      </div>


      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
